@{
    ViewBag.Title = "À propos";
}
<h2>@ViewBag.Title.</h2>


<h3>Simple gestionnaire de photos. Il a été conçu à des fins pédagogiques.</h3>
<hr />
<h4><b>Auteur: Nicolas Chourot</b></h4>
<h4>Date: Avril 2021</h4>
<h4>Enseignant</h4>
<h4>Département d'informatique</h4>
<h4>Collège Lionel-Groulx</h4>

